@use '../abstracts' as *;

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

.d-flex {
	display: flex;
}
.d-block {
	display: block;
}

.hidden {
	display: none;
}
.hidden-menu {
	top: -100% !important;
	@include transition;
}
.visible {
	visibility: visible;
}

.text-uppercase {
	text-transform: uppercase;
}
.text-lowercase {
	text-transform: lowercase;
}
.row {
	width: 100%;
	@include flex(row, center, center);
	gap: 16px;
	@media (max-width: 991px) {
		flex-direction: column;
	}
}
.primary {
	@include flex(row, center, center);
	height: 56px;
	padding: 16px 32px;
	gap: 8px;
	border-radius: 8px;
	background: $accent-dark;
	color: $white;
	font-weight: 600;
	@include transition;
	&:hover {
		background-color: $accent-light;
	}
	&:disabled {
		background: #b8cccb;
	}
	@media (max-width: 768px) {
		height: 48px;
	}
}
.desktop {
	display: flex !important;
	@media (max-width: 768px) {
		display: none !important;
	}
}
.mobile {
	display: none !important;
	@media (max-width: 768px) {
		display: flex !important;
	}
}
