@use '../abstracts' as *;

.info-wrap {
	padding: 94px 0 120px 0;
}
.info {
	@include flex(row, flex-start, flex-end);
	gap: 85px;
	@media (max-width: 1200px) {
		@include flex(column-reverse, flex-start, flex-start);
		gap: 40px;
	}

	&__bg {
		margin-left: -160px;
		@media (max-width: 991px) {
			margin-left: -16px;
		}
	}

	&__list {
		max-width: 520px;
		@media (max-width: 1200px) {
			max-width: 100%;
		}
	}

	&__block:not(:last-child) {
		margin-bottom: 56px;
		@media (max-width: 1200px) {
			margin-bottom: 40px;
		}
	}

	&__block-title {
		font-size: 32px;
		font-weight: 500;
		margin-bottom: 16px;
		@media (max-width: 768px) {
			font-size: 24px;
		}
	}

	&__block-list {
		@include flex(column, flex-start, flex-start);
		gap: 4px;
		margin-top: 16px;
		margin-left: 20px;
		@media (max-width: 768px) {
			font-size: 14px;
		}
	}

	&__block-item {
		list-style-type: disc;
	}
}
